body{
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  text-align:center;
  background-color:#00bfff;
}

.form-question{
  margin-top:0;
  margin-bottom:0.5rem;
  text-align:left;
  font-size:1rem;
}

#main{
  width:100%;
  margin:3rem auto 0 auto;
}
@media(min-width:576px){
  #main{
    max-width:540px;
  }
}
@media(min-width:768px){
  #main{
    max-width:720px;
  }
}


#description{
  font-size:1.25rem;
  margin-top:0;
  margin-bottom:0.5rem;
}

label{
  display:flex;
  align-items:center;
  font-size:1rem;
  margin-bottom:0.5rem;

}


#survey-form{
  background-color:#0080ff;
  padding:2.5rem 0.6rem;
  border-radius:0.25rem;

}

@media(min-width:480px){
  #survey-form{
    padding:2.5rem;
  }
}

.forms{
  margin:0 auto 1.25rem auto;
  padding:0.25rem;
}
.form-control{
  display:block;
  width:100%;
  height:1.5rem;
  border-radius:0.25rem;
  padding-left:0.5rem;
}

.input-radio, .input-checkbox{
  margin-right: 0.625rem;
}

.input-textarea{
  width:100%;
  min-height:120px;
  padding:0.5rem;
  resize:vertical;
  border-radius:0.2rem;
}

#submit{
  width:100%;
  padding:0.5rem;
  cursor:point;
  font-weight: bold;
  font-size: 15px;
  color:#ffffff;
  background:var(--color-blue);
  border-radius:0.2rem;
}
