html{

  background-color:#FFF;
  box-sizing:border-box;
  font-family:Arial,Helvetica,sans-serif;

}

body{
  text-align: center;
  margin:0;
  font-size: 1.2em;
  line-height: 1.5;
  background-color: #C0C0C0;

}

#main{
  margin:30px 8px;
  padding:15px;
  border-radius:5px;
  background:#eee;
}

@media(max-width:1200px){
  #main{
    margin:0;
  }
}

img{
  max-width:100%;
  height:auto;
  margin:0 auto;
  display: block;
}


#img-div {
    background-color:#FFF;
    padding:10px;
    margin:0;

}

#img-caption{
  margin:15px 0 5px 0;
}
@media(max-width:1200px){
  #img-caption{
    font-size:1.4em;
  }
}



li{
  margin:16px 0;
}




.tribute-info{
  max-width:1100px;
  margin: 0 auto 50px auto;
  text-align: left;

}
